@charset "utf-8";
/* VOGUE PJ 미디어쿼리 - media.css */

/*
[ 미디어쿼리 사이즈별 셋팅의 기준]
1. 디자인상 필요한 사이즈에 셋팅함
2. 1024px 사이즈에 셋팅함 - 태블릿 사이즈 기준으로 본다 !(아이패드 가로크기)
3. 모바일 사이즈는 새로로 볼때 사이즈를 포함하며 가로로볼떄 사이즈를 포함하지 않는 
사이즈를 정한다 (여기서는 500px로 봄)
*/

/*
[ 미디어 쿼리를 보다 쉽게 변경하는 방법 ]
1. 레이아웃 박스를 %로 셋팅함 (100%로 변경하는 경우 많음)
2. 내부박스의 높이 값을 개별적으로 주기 
3. absolute박스를 static하게 변경하여 위치를 차지하게함
4. 브라우저 분석기로 열고 우선 속성을 변경하여 적용될때 이것을 복사하여 붙임!
*/


/*1200px이하 사이즈*/
@media only screen and (max-width:1200px) {

    /*
    전체글자조정
    rem으로 코딩된 사이즈는 
    root인 html의 글자크기를
    기준으로 변경된다!*/
    html {
        font-size: 14px;
        /*기본은 16px, html의 글자크기를 바꾸면 하위요소들 중 rem, em에 계산 기준이 됨*/

    }


}

/*1200px이하*/


/*1100px 이하 미디어쿼리*/
@media only screen and (max-width:1100px) {

    /*전체글자크기*/
    html {
        font-size: 12px;
    }

    /******상단변경*******/
    /*첫번째 파티션박스*/


    /*로고파티션*/
    /* div 외에 button 형제도 있으므로 "-of-type" 으로 선택해야함! */
    #top > div:first-of-type {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 43%;
    }

    /*gnb파티션*/
    #top > div:last-child {
        width: 100%;
    }

    /*gnb박스*/
    .gnb {
        bottom: 30px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    /*상단부 높이값 변경*/
    #top {
        height: 206px;
    }

    /*큰로고 보임*/
    .blogo {
        display: inline;
    }

    /*작은로고 숨김*/
    .slogo {
        display: none;
    }




}

/*1100px이하*/

/*1024px 이하 미디어쿼리*/
@media only screen and (max-width:1024px) {

    /*
        미디어쿼리 변경팁!!!
        - 무조건 이미 설정된 선택자를 변경한다!
        - 적용우선 순위를 걱정할 필요가 없다!
    */
    /*상단영역 높이변경*/

    /*로고 파티션박스 가로크기 변경*/


    /*gnb메뉴 숨기기*/



    /*햄버거버튼, 검색버튼 보이기*/


    /*컨텐츠 배너 배열변경하기
    3,1-> 2,2*/


}

/*1024px 이하 미디어쿼리*/




/*500px이하 모바일 미디어쿼리*/
@media only screen and (max-width:500px) {

    /*글자크기변경*/



    /*가로스크롤 없애기!*/
    /*html,body를 화면기준가로폭*/




    /*상단영역 높이변경*/


    /*로고 파티션박스 가로크기 변경*/


    /*햄버거버튼*/


    /*배너 비율변경하기*/


    /*파티션 박스(col-) 전체를 width:100%로 변경!*/
    /*한줄에 하나씩!*/


    /*비율유지 해제*/
    /*추가비율-컨텐츠박스 없앰*/


    /*비율박스의 속박스-일반박스화*/


    /*뉴스박스 패딩제거*/




    /*뉴스글자 조정*/


    /*메뉴배너 가로폭 100%, 높이값 특정px*/



    /*하단영역*/
    /*배경로고 조정*/


    /*하단주소 조정*/



}

/*500px이하 모바일 미디어쿼리*/
